html{
	background:#eee;
    font-family:$text;
}
body{
	padding:2em;
	max-width:40em;
	margin:0 auto;
}
h1{
	font-size:2em;
	margin-bottom:1em;
	font-family:$display;
    // color:blue;
}

strong{
    font-weight:bold;
}